interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://opendart.fss.or.kr/api/list.json?bgn_de=20240101&corp_code=00126380&end_de=20240131
  response:
    body:
      string: "{\"status\":\"000\",\"message\":\"\uC815\uC0C1\",\"page_no\":1,\"page_count\":10,\"total_count\":15,\"total_page\":2,\"list\":[{\"corp_code\":\"00126380\",\"corp_name\":\"\uC0BC\uC131\uC804\uC790\",\"stock_code\":\"005930\",\"corp_cls\":\"Y\",\"report_nm\":\"\uD2B9\uC218\uAD00\uACC4\uC778\uACFC\uC758\uB0B4\uBD80\uAC70\uB798\",\"rcept_no\":\"20240131000326\",\"flr_nm\":\"\uC0BC\uC131\uC804\uC790\",\"rcept_dt\":\"20240131\",\"rm\":\"\uACF5\"},{\"corp_code\":\"00126380\",\"corp_name\":\"\uC0BC\uC131\uC804\uC790\",\"stock_code\":\"005930\",\"corp_cls\":\"Y\",\"report_nm\":\"\uC218\uC2DC\uACF5\uC2DC\uC758\uBB34\uAD00\uB828\uC0AC\uD56D(\uACF5\uC815\uACF5\uC2DC)\",\"rcept_no\":\"20240131800110\",\"flr_nm\":\"\uC0BC\uC131\uC804\uC790\",\"rcept_dt\":\"20240131\",\"rm\":\"\uC720\"},{\"corp_code\":\"00126380\",\"corp_name\":\"\uC0BC\uC131\uC804\uC790\",\"stock_code\":\"005930\",\"corp_cls\":\"Y\",\"report_nm\":\"\uB9E4\uCD9C\uC561[...]
